.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.background {
  width: 100%;
  height: 100%;

  background-image: url("images/background.png");
  background-size: cover;
  background-position-y: -60px;

  position: absolute;
  z-index: -1;
}

.logo {
  margin-top: 10px;
  margin-left: 10px;
}

.title {
  text-align: center;
  font: bold 70px 'Spartan';

  color: white;
}

.concert-info {
  font: 500 36px 'Spartan';
  color: white;

  opacity: .8;
}

.date {
  font: 500 36px 'Spartan';
  color: white;

}

.header {
  display: flex;
}

nav {
  display: flex;

  margin-left: 70px;
  margin-top: 1em;

  font: 500 20px 'Spartan';
  color: white;
}

nav > a {
  margin-left: 70px;
  opacity: .8;
  text-decoration: none;
}

nav > a:first-of-type {
  margin-left: 0em;
}

a:visited {
  color: white;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;

  margin-top: 4em;
}

.cta {
  width: 300px;
  height: 60px;

  margin-top: 20%;
  border-radius: 999em;
  
  text-align: center;
  font: 500 20px 'Spartan';
  line-height: 65px;

  background-color: #DB3030;
  text-decoration: none;
  box-shadow: 0px 10px 0px rgba(105, 21, 21, 0.8)
}

body {
  margin: 0;
  padding: 0;
}